@model IEnumerable<GuavaBlog.Web.PostViewModel>

@{
    ViewData["Title"] = "Tag";
}

<h2>Tag</h2>


@foreach (var post in Model)
{
    <section id="@post.Id" class="post tag-netcore tag-roslyn tag-aspnet tag-net featured">
        <h3 class="post-title"><a href="post/@post.Slug/">@post.Title </a><span class="separator"> &middot; </span>@post.PublishedDate.ToString("MMMM dd, yyyy")
            <span class="taglist"> &middot; 
                @foreach (var tag in post.Tags.Split(';'))
                {
                    <a href="/tag/@tag/">@tag</a> 
                }
            </span>
            @if (post.Featured)
            {
                <span class="separator"> &middot; </span>
                <i class="fa fa-star-o feature-star"></i>
            }
        </h3>
        <section class="post-excerpt">
            <p>@post.Excerpt <a class="read-more" href="/@post.Slug/"> &raquo;&raquo;</a></p>
        </section>
    </section> 
}
<nav class="pagination" role="pagination">
    
    <span class="page-number">Page 1 of 2</span>
    <span class="separator">|</span> <a class="older-posts" href="http://www.malisancube.com/page/2/">Older →</a>
</nav>