@using GuavaBlog.Web.Services

@inject IBlogService BlogService

@{
    var metadata = BlogService.GetMetadata();
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@metadata.Title</title>
    <meta name="description" content="Software developer, speaker, blogger" />
    <link rel="shortcut icon" href="@metadata.Logo"/>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/crisp.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->  
			  
    <link rel="canonical" href="@metadata.Link" />
    <meta name="referrer" content="origin" />
    <link rel="next" href="http://www.malisancube.com/page/2/" />
    
    <meta property="og:site_name" content="@metadata.Title" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="@metadata.Title" />
    <meta property="og:description" content="@metadata.Description" />
    <meta property="og:url" content="@metadata.Link" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="@metadata.Title" />
    <meta name="twitter:description" content="@metadata.Description" />
    <meta name="twitter:url" content="@metadata.Link" />
    
    <script type="application/ld+json">
    {
        "@@context": "https://schema.org",
        "@@type": "Website",
        "publisher": "@metadata.Title",
        "url": "@metadata.Link",
        "description": "@metadata.Description"
    }
    </script>

    <meta name="generator" content="Ghost 0.8" />
<link rel="alternate" type="application/rss+xml" title="@metadata.Title" href="@($"{metadata.Link}/rss/")" />

</head>
<body class="home-template">
    
    		<header id="header">
            <a id="logo" href="@metadata.Link"><img src="@metadata.Logo" alt="@metadata.Title" /></a>
            <h1><a href="@metadata.Link">@metadata.Title</a></h1>
            <p>@metadata.Description</p>
            <div id="follow-icons">
                <a href="http://facebook.com/malisa.ncube"><i class="fa fa-facebook-square fa-2x"></i></a>
                <a href="http://twitter.com/malisancube"><i class="fa fa-twitter-square fa-2x"></i></a>
                <a href="http://linkedin.com/in/malisa-ncube-a9b28b1"><i class="fa fa-linkedin-square fa-2x"></i></a>
                <a href="mailto:inbox@malisancube.com"><i class="fa fa-envelope-square fa-2x"></i></a>
                <a href="http://www.malisancube.com/rss"><i class="fa fa-rss-square fa-2x"></i></a> 
            </div>                                                                  

		    <!--
		    <a href="http://github.com/username"><i class="fa fa-github-square fa-2x"></i></a>
		    <a href="http://plus.google.com/+username"><i class="fa fa-google-plus-square fa-2x"></i></a>
		    <a href="http://instagram.com/username"><i class="fa fa-instagram fa-2x"></i></a>
		    <a href="http://vimeo.com/username"><i class="fa fa-vimeo-square fa-2x"></i></a>
		    <a href="http://youtube.com/username"><i class="fa fa-youtube-square fa-2x"></i></a>
		    <a href="http://flickr.com/username"><i class="fa fa-flickr fa-2x"></i></a>
		    <a href="http://pinterest.com/username"><i class="fa fa-pinterest-square fa-2x"></i></a>
		    <a href="http://username.tumblr.com"><i class="fa fa-tumblr-square fa-2x"></i></a>
		    -->
                
		        <h6><a href="@metadata.Link">Home</a></h6>
		        <h6><a href="@metadata.Link">Blog</a></h6>

		        <p>I develop software for the cloud/web, mobile and enterprise. A failed stand-up comedian who loves music.</p>
		    </header>

		    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">GuavaBlog.Web</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                </ul>
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2017 - GuavaBlog.Web</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
